<h1>welcome on dashboard page</h1>
<%= link_to "Sigin", new_user_session_path %> 
<%= form_for :dashboard , url: new_dashboard_path do |f| %> 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description%>
  </p>
   <p>
    <%= f.label :price %><br>
    <%= f.text_area :price%>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', index_dashboard_path %>